body {
  margin: 0;
  font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/Photos/backimg.jpg);
  background-color: #1A374D;
  background-blend-mode: exclusion;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment:fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .nav-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar h2 {
  font-weight: bold;
  color: #E4C04D;
  font-size: 30px;
}

.navbar a{
  color: #AFE4FF;
  font-size: 27px;
  text-decoration: none;
  transition: 0.7s;
}

.navbar a:hover {
  color: #E4C04D;
  text-shadow: 4px 1px black;
  transition: 0.7s;
}
.title{
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
  color:#E4C04D;
  text-shadow: 3px 3px 2px black;
  margin: 40px;

}
.details{
  text-align: center;
  font-size: 50px;
  color:#E4C04D;
  margin: 100px;

}

.create{
  display: flex;
  justify-content: space-around;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.create img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

.items button{
  border-radius: 15px;
  background-color:#6998AB;
  padding: 5px;
  border-width: 0;
  color: white;
  margin: 20px;
}

.preview{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 500px;
  height: 600px;
  color: white;
  font-size: x-small;
}

.preview p{
  margin: 0;
}

.left-part{
  background-color: rgb(40, 39, 39);
  padding: 100px 0px 10px 0px;
  text-align: center;
}

.left-part hr{
  border: 1px solid rgb(255, 208, 0);
  margin-left: 30px;
}

.left-part h2{
  margin-top: 40px;
}

.right-part{
  background-color: white;
}

.degree{
  text-align: left;
  margin-left: 50px;
}

.contacts{
  margin-top: 90px;
}

.contact{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.mark{
  background-color: rgb(255, 208, 0);
  border-radius: 0 5px 5px 0;
}

.type{
  background-color: rgb(56, 55, 55);
}