body {
  margin: 0;
  font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/Photos/backimg.jpg);
  background-color: #1A374D;
  background-blend-mode: exclusion;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment:fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .nav-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar h2 {
  font-weight: bold;
  color: #E4C04D;
  font-size: 30px;
}

.navbar a{
  color: #AFE4FF;
  font-size: 27px;
  text-decoration: none;
  transition: 0.7s;
}

.navbar a:hover {
  color: #E4C04D;
  text-shadow: 4px 1px black;
  transition: 0.7s;
}
.title{
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
  color:#E4C04D;
  text-shadow: 3px 3px 2px black;
  margin: 40px;

}
.details{
  text-align: center;
  font-size: 50px;
  color:#E4C04D;
  margin: 100px;

}

.create{
  display: flex;
  justify-content: space-around;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.create img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

.items button{
  border-radius: 15px;
  background-color:#6998AB;
  padding: 5px;
  border-width: 0;
  color: white;
  margin: 20px;
}

label{
  display: block;
  margin: 10px;
  font-weight:900;
  font-size: 30px;
}

input {
  border-radius: 5px;
  border-width: 0;
  box-shadow: 1px 2px gray;
  height: 30px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
}

.boxes {
  width: 900px;
  text-align: left;
  margin: auto;
  border-radius: 10px;
  padding: 25px;
  background-size: 100% 100%;
  background-image: url('../public/Photos/cafe2.jpg');
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 35px;
}

h1{
  margin: 0;
  font-size: 40px;
  text-align: center;
}

li{
  font-weight:900;
  font-size: 30px;
  margin-top: 20px;
}

ol{
  margin: 0;
  padding: 0;
}

.inner{
  margin: auto ;
  padding-left: 50px;
}

textarea{
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}