body {
  margin: 0;
  font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/Photos/backimg.jpg);
  background-color: #1A374D;
  background-blend-mode: exclusion;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .nav-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar h2 {
  font-weight: bold;
  color: #FFA4A4;
  font-size: 30px;
}

.navbar a{
  color: #AFE4FF;
  font-size: 27px;
  text-decoration: none;
  transition: 0.7s;
}

.navbar a:hover {
  color: #E4C04D;
  text-shadow: 4px 1px black;
  transition: 0.7s;
}
